.filters{
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .col{
    width:100% !important;
  }
  .search-field{
    -webkit-box-align: center;
      align-items: center;
      cursor: default;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      min-height: 38px;
      position: relative;
      transition: all 100ms ease 0s;
      background-color: rgb(255, 255, 255);
      border-color: rgb(204, 204, 204);
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      box-sizing: border-box;
      width:100%;
      outline: 0px !important;
  }

  /*For mobile screens*/
  @media only screen and (max-width: 600px) {
    .filters{
      flex-direction: column;
    }
  }